[access "refs/*"]
        owner = group android_device_samsung_s5e8535-common
        label-Verified = -1..+1 group android_device_samsung_s5e8535-common
        submit = group android_device_samsung_s5e8535-common
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
